html {
    font-family: "Raleway", sans-serif;
}

#logo {
    height: 10px;
    width: 10px;
}

#nav li {
    list-style-type: none;
    display: inline;
}

#nav a {
    text-decoration: none;
}
