html {
    font-family: "Raleway", sans-serif;
}

#header {
    margin-top: 1% auto;
    display: inline;
}

#header a:link, #header a:visited {
    color: black;
}

#logo {
    display: inline-block;
}

#logo img{
    vertical-align: middle;
    height: 1.5em;
    width: 1.5em;
}

#logo a {
    font-size: 1.25em;
    font-weight: bolder;
    text-decoration: none;
}

#nav {
    display: inline-block;
}

#nav li {
    list-style-type: none;
    display: inline;
}

#nav a {
    text-decoration: none;
    font-weight: bold;
}
