html {
    font-family: "Raleway", sans-serif;
}

#nav {
    text-align: center;
    margin-top: 1% 5%;
}

#logo img{
    height: 1.5em;
    width: 1.5em;
}

#logo a {
    font-size: 1.25em;
}

#nav li {
    list-style-type: none;
    display: inline;
}

#nav a {
    text-decoration: none;
}
